<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Akva20150407.Akva20150407">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />
	<application android:label="Akva20150407"></application>
</manifest>